body{
    background:hsl(212, 45%, 89%);
    color:hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    margin:0px;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

main{
    background: hsl(0, 0%, 100%);
    width:325px;
    height:500px;
    border-radius: 20px;
    display:grid;
    justify-items: center;
}

.qrimage{
    background-image: url(images/image-qr-code.png);
    background-size:cover;
    width: 291px;
    height: 291px;
    margin-top:17px;
    border-radius: 10px;
}

h2{
    color:hsl(218, 44%, 22%);
}
h1{
    color:hsl(218, 44%, 22%);
    font-size: 22px;
}

h1,h2,p{
    width: 260px;
    text-align: center;
    margin:0;  
    margin-top: -15px;
}
